* {
  box-sizing: border-box;
}


  
.number{
  display: flex;
  justify-content: center;
  height: 10rem;
  width:10rem;
  background-color: rgb(51, 51, 51); 
  color: white;
  border-radius: 50%;
  border: .2rem rgb(51, 51, 51);
  margin: 0 2rem;
  font-size: 4rem;
}

.operator{
  background-color: rgb(254, 149, 1);
  display: flex;
  justify-content: center;
  height:10rem;
  width:10rem;
  color: white;
  border-radius: 50%;
  border: .2rem rgb(51, 51, 51);
  margin-left: 2rem;
  font-size: 5rem;
}
.calculator{
  height: 100rem;
  width: 60rem;
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.o5{
  display: flex;
  flex: 8;
  color: white;
  /*align-items: center;
  justify-content: flex-end;
  /*padding-right: 10rem;
  font-size: 70rem;
  font-family: arial,sans-serif;*/
}



.o0{
  flex: 4;
}
.o1{
  flex: 2;
}

.o2{
  flex: 2;
}
.o3{
  flex: 2;
}
.o4{
  flex: 2;
}

.b{
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}


button:last-child{
  margin-right: 2rem;
}

.multiply{
  padding-top: 2rem;
}

.exponent{
  padding-top: 2rem;
}

.add{
  padding-top: .4rem;
}

.number:active{
  background-color: darkgrey;
}

.operator:active{
  background-color: rgb(169, 99, 0);
}

.inputArea{
  background-color: black;
  color: white;
  width: 100%;
  font-size: 14rem;
  font-family: arial, sans-serif;
  border: 0rem;
  padding-left: 2rem;

}

.inputArea:focus {
  outline: none;
}

@media (pointer: fine), (pointer:coarse) {
  
  .number{
    display: flex;
    justify-content: center;
    height:4rem;
    width:4rem;
    background-color: rgb(51, 51, 51); 
    border-radius: 50%;
    border: .8rem rgb(51, 51, 51);
    margin: 0 .8rem;
    font-size: 1.6rem;
  }
  
  .operator{
    background-color: rgb(254, 149, 1);
    display: flex;
    justify-content: center;
    height:4rem;
    width:4rem;
    color: white;
    border-radius: 50%;
    border: .8rem rgb(51, 51, 51);
    margin-left: .8rem;
    font-size: 2rem;
  }
  .calculator{
    height: 40rem;
    width: 24rem;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  
  .o5{
    display: flex;
    flex: 8;
    color: white;
    /*align-items: center;
    justify-content: flex-end;
    /*padding-right: 10rem;
    font-size: 70rem;
    font-family: arial,sans-serif;*/
  }
  
  
  
  .o0{
    flex: 4;
  }
  .o1{
    flex: 2;
  }
  
  .o2{
    flex: 2;
  }
  .o3{
    flex: 2;
  }
  .o4{
    flex: 2;
  }
  
  .b{
    display: flex;
    justify-content: flex-end;
    padding: .8rem;
  }
  
  
  button:last-child{
    margin-right: .8rem;
  }
  
  .multiply{
    padding-top: .8rem;
  }
  
  .exponent{
    padding-top: .8rem;
  }
  
  .add{
    padding-top: .16rem;
  }
  
  .number:active{
    background-color: darkgrey;
  }
  
  .operator:active{
    background-color: rgb(169, 99, 0);
  }
  
  .inputArea{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 5.6rem;
    font-family: arial, sans-serif;
    border: 0rem;
    padding-left: .8rem;
  
  }
  
  }
  
  