* {
  box-sizing: border-box;
}
.number{
  display: flex;
  justify-content: center;
  height:50px;
  width:50px;
  background-color: rgb(51, 51, 51); 
  color: white;
  border-radius: 50%;
  border: 1px rgb(51, 51, 51);
  margin: 0 10px;
  font-size: 20px;
}

.operator{
  background-color: rgb(254, 149, 1);
  display: flex;
  justify-content: center;
  height:50px;
  width:50px;
  color: white;
  border-radius: 50%;
  border: 1px rgb(51, 51, 51);
  margin-left: 10px;
  font-size: 25px;
}
.calculator{
  height: 500px;
  width: 300px;
	background-color: black;
	display: flex;
	flex-direction: column-reverse;
  justify-content: flex-end;
}

.o5{
  display: flex;
  flex: 8;
	color: white;
	align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
	font-size: 70px;
	font-family: arial,sans-serif;
}

.o0{
  flex: 4;
}
.o1{
  flex: 2;
}

.o2{
  flex: 2;
}
.o3{
  flex: 2;
}
.o4{
  flex: 2;
}

.b{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
button:last-child{
  margin-right: 10px;
}

.multiply{
  padding-top: 10px;
}

.exponent{
  padding-top: 10px;
}

.add{
  padding-top: 2px;
}